<div class="container">
    
    <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-left">
                    <div type="button" class="btn btn-default app-btn" ng-click="$ctrl.workitems()">Work Items</div>
                    <div type="button" class="btn btn-default app-btn" ng-click="$ctrl.check()">Check</div>
                </div>
            </div>
        </nav>
  
    <div class="panel panel_no-margin-bottom">
      <div class="panel-body panel-body_no-padding-top-bottom">
 
        <p>
            Since the idea of the application is to manage lots of bugs and requirements, the M.E.A.N. Bug Tracker's design was created based on tables and forms with data. Despite the fact that we live in an age of plenty responsive mobile-friendly design solutions, we are strongly convinced that the workflow on low screen resolution devices will bring only stress and disappointment.
        </p>
  
      </div>
      <!-- panel-body -->
    </div>
    <!-- panel -->
  </div>
  <!-- container -->